[user]
	name = Ashish Negi
	email = asnecemnnit@gmail.com
[includeIf "gitdir:/Users/ashishsingh/bitbucket/"]
    path = /Users/ashishsingh/custom.gitconfig
[includeIf "gitdir:/Users/ashishsingh/gitlab/"]
    path = /Users/ashishsingh/custom.gitconfig2
[includeIf "gitdir:/Users/ashishsingh/gerrit/"]
    path = /Users/ashishsingh/custom.gitconfig3



...
